.container {
  overflow: visible !important;
  position: relative;
}

.circle {
  fill: #dad105;
}

.square {
  fill: #cf2a24;
}

.marker {
  cursor: pointer;
  stroke-width: 1;
  transition: .2s;
  stroke: #000;

  &__active {
    fill: #fff;
    transform: scale(1.25);
    transform-origin: center;
  }
}

.line {
  stroke: #000;
  stroke-width: 2;
  pointer-events: none;
}

.percentage {
  font-size: 20px;
}

.time {
  font-size: 26px;
  fill: #fff;

  @media only screen and (max-width: 680px) {
    font-size: 35px;
  }
}