.container {
  overflow: visible !important;
  position: relative;
}

.marker {
  cursor: pointer;
  stroke-width: 1;

  &__active {
    fill: #fff;
    stroke: #000;
  }
}

.line {
  stroke: #000;
  stroke-width: 2;
  pointer-events: none;
}

.percentage {
  font-size: 20px;
}

.time {
  font-size: 26px;
}